<div class="container">
    <div class="retorno">
        <a href="#" class="btn btn-primary">Button</a>
        <p class="shadow p-2 mb-4 bg-body rounded"><a href="portfolio"><img src="../../../assets/logo_small.png" class="img-fluid" alt="logo"></a></p>
    </div>
  <label>HTML</label>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 55%;" aria-valuenow="25"
      aria-valuemin="0" aria-valuemax="100">55%</div>
  </div>
  <label>HTML</label>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 35%;" aria-valuenow="25"
      aria-valuemin="0" aria-valuemax="100">35%</div>
  </div>
  <label>HTML</label>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 40%;" aria-valuenow="25"
      aria-valuemin="0" aria-valuemax="100">40%</div>
  </div>
  <label>HTML</label>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 35%;" aria-valuenow="25"
      aria-valuemin="0" aria-valuemax="100">35%</div>
  </div>
  <a href="#" class="btn btn-primary">Button</a>
  <a href="#" class="btn btn-primary">Button</a>
</div>
