.container{
    border: 2px rgb(92, 91, 91);
    padding: 20px;
    margin-top: 70px;
    border-radius: 2%;
}

img{
    width: 80px;
    height: 40px;
    text-align: end;
    margin-bottom: 15px;
}

.retorno{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
    padding: 15px;
    font-size: 25px;
    font-style: bold;
}

.cuadro{
    display: flex;
    flex-wrap: wrap;
}

.progress{
    margin: 20px;
    background-color: none;
}

li{
    font-size: 25px;
    text-align: center;
}

