<div class="container">
    <div>
        <h1>Experiencia laboral.</h1>
    </div>
    <div class="retorno">
      <a href="crearexperiencia" class="btn btn-outline-primary"><i class="bi bi-card-text"> Agregar experiencia</i></a>
      <p class="shadow p-2 mb-4 bg-body rounded"><a href="portfolio"><img src="../../../assets/logo_small.png" class="img-fluid" alt="logo"></a></p>
    </div>
    <div *ngFor="let expe of experiencias">
        <div class="row">
          <div class="card w-100 shadow p-5 mb-5 bg-body rounded">
            <div class="card-body">
              <h4 class="card-title">{{expe.empresa}}</h4>
              <img src="..." class="img-fluid" alt="trabajo">
              <h3>{{expe.puesto}}</h3>
              <p class="card-text">{{expe.descripcion}}</p>
              <p>Desde: {{expe.fec_inicio}} hasta: {{expe.fec_fin}}</p>
              <button (click)="editarExperiencia(expe)" class=" btn btn-outline-success shadow p-2 mb-3">
                <i class="bi bi-pencil"> Editar</i></button>
                <button (click)="borrarExperiencia(expe)" class=" btn btn-outline-danger shadow p-2 mb-3">
                  <i class="bi bi-trash"> Borrar</i></button>
            </div>
          </div>
        </div>
    </div>    
  </div>
  
