<div class="container">
    <div>
        <h1>Experiencia laboral.</h1>
    </div>
    <div class="retorno">
      <a href="#" class="btn btn-primary">Button</a>
      <p class="shadow p-2 mb-4 bg-body rounded"><a href="portfolio"><img src="../../../assets/logo_small.png" class="img-fluid" alt="logo"></a></p>
    </div>
    <div class="row">
      <div class="card w-100 shadow p-5 mb-5 bg-body rounded">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <img src="..." class="img-fluid" alt="trabajo">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <p>fecha</p>
          <a href="#" class="btn btn-primary">Button</a>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
  
