
a{
    margin: 5px;
}

.container{
    margin-top: 70px;
}

#milogo{
    width: 90px;
    height: 45px;
    text-align: end;
    margin-bottom: 15px;
}

.retorno{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.row{
    justify-content: center;
}

.img-fluid{
    height: 120px;
    width: 120px;
    margin: 20px;
}

h5{
    font-size: 30px;
}
.card-text1{
    font-style: italic;
}
