<div class="container">
  <div class="retorno">
    <a href="#" class="btn btn-primary">Button</a>
    <p class="shadow p-2 mb-4 bg-body rounded"><a href="portfolio"><img src="../../../assets/logo_small.png" class="img-fluid" alt="logo"></a></p>
  </div>
  <div class="row">
    <div class="card mb-3 shadow p-2 mb-4 bg-body rounded" style="max-width:100%">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary">Button</a>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
