<div class="container">
  <div class="row">
    <div class="col -3 mb-6">
      <img src="../../../assets/soyyo.jpg" class="img-fluid" alt="Emilio">
      <p>Direccion</p>
    </div>
    <div class="col-3 mb-6">
      <p>Nombre</p>
    </div>
    <div class="col-6 mb-12">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, ullam. Sunt impedit porro dignissimos reiciendis
      eum! Labore assumenda incidunt quidem tempora rem ut placeat maiores provident neque, nisi, sunt debitis.
    </div>
  </div>
</div>
