
a{
    margin: 5px;
}

.container{
    margin-top: 70px;
}

img{
    width: 80px;
    height: 40px;
    text-align: end;
    margin-bottom: 15px;
}

.retorno{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#retrato{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
}

.card-body{
    display: flex;
    align-items: center;
}
.card-title{
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
}
.card-text{
    margin: 10px;
}

#titulo{
    margin-left: 10px;
}

button{
    font-size: 20px;
}