  <nav class="navbar navbar-expand-lg bg-light justify-content-center">
    <img src="../../../assets/ArgentinaPrograma.png" class="img-fluid" alt="logo argentina programa" id="imgarg">
    <a href="http://wwww.facebook.com"><i class="bi bi-facebook"></i></a>
    <a href="http://www.instagram.com"><i class="bi bi-twitter"></i></a>
    <a href="http://www.twitter.com"><i class="bi bi-instagram"></i></a>
    <div class="container-fluid">
      <a class="navbar-brand" href="portfolio"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="sobremi">Sobre mi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="estudio">Estudios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="experiencia">Experiencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="habilidad">Skills</a>
          </li>
        </ul>
        <img src="../../../assets/logo_small.png" class="img-fluid" alt="logo">
        <button class="btn btn-outline-success" type="submit">Iniciar sesion</button>
      </div>
    </div>
  </nav>
<body>
    <div class="nombre">
        <h1>Emilio Jerez Web</h1>
        <h2>Programador Universitario</h2>
    </div>
</body>